html {
  background: #000;
  color: #fff;
}

body {
  width: 320px;
}

.dialer {
  height: 460px;
  overflow: hidden;
  position: relative;
}

.dialer-button,
.dialer-delete,
.dialer-dial,
.dialer-disconnect {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}

.dialer-dial {
  background: url(assets/sprite-a.y.png) center -100px no-repeat, -moz-linear-gradient(top, #84c82c, #5f9b0a), #84c82c;
  border-top: 1px solid #5f9b0a;
  height: 50px;
  width: 100%;
}

.dialer-disconnect {
  background: url(assets/sprite-a.y.png) center -300px no-repeat, -moz-linear-gradient(top, #ff0000, #cf0000), #ff0000;
  border-top: 1px solid #cf0000;
  height: 50px;
  width: 100%;
}

.dialer-contact {
  background: #2c3743;
  color: #fff;
  font-size: 32px;
  line-height: 80px;
  height: 80px;
  padding: 0 70px 0 20px;
}

.dialer-delete {
  background: url(assets/sprite-a.y.png) 0 0 no-repeat;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 80px;
  text-indent: -999em;
}

/* Dialpad
----------------------------------------------------------------------------- */
.dialer-dialpad {
  position: relative;
  height: 270px;
}

.dialer-button {
  background: #e5eaee;
  border: 1px solid #c3ced9;
  border-width: 0 1px 1px 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 36px;
  /* A totally silly hack to get Firefox to put the text in the vertical
  middle of the button. Only happens with <button> elements. */
  line-height: 200%;
  padding: 0 0 0 20px;
  position: absolute;
  text-align: left;
  display: block;
  height: 25%;
  width: 33.33%;
}
.dialer-button:focus {
  /* Necessary to remove focus "grey out" in FirefoxOS. */
  color: #222;
}
.dialer-button:active {
  background: #c3ced9;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.dialer-button > em {
  color: #777;
  font-size: 14px;
  margin-left: 2px;
}

/* Nuke the inner spacing that Gecko puts into button elements. */
.dialer-button::-moz-focus-inner {
    padding: 0;
    border: 0
}

/* Compromising between flexibility and layout efficiency, I am absolutely
positioning the dialer buttons against a fixed-height dialpad, rather than
floating or using a table. This gives us flexible width, but will have to
account for height with media queries if supporting multiple res. */
.dialer-dialpad-col1 {
  left: 0;
}
.dialer-dialpad-col2 {
  left: 33.33%;
}
.dialer-dialpad-col3 {
  left: 66.66%;
  border-right: 0;
}
.dialer-dialpad-row1 {
  border-top-width: 1px;
  top: 0;
}
.dialer-dialpad-row2 {
  top: 25%;
}
.dialer-dialpad-row3 {
  top: 50%;
}
.dialer-dialpad-row4 {
  top: 75%;
}

/* Dialer card
----------------------------------------------------------------------------- */

.dialer-card-container {
  height: 370px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  position: relative;
}

.dialer-card,
.dialer-card-face-front,
.dialer-card-face-back {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.dialer-card {
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 500ms ease-out;
}

.dialer-card-flipped {
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.dialer-card-face-front,
.dialer-card-face-back {
  background: #222;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.dialer-card-face-back {
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

/* Dialer completions
----------------------------------------------------------------------------- */

.dialer-completions {
  background: #29333e;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  height: 50px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  transition: height 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
/* Open state for dialer-completions. This class is added by JS. */
.dialer-completions-open {
  height: 340px;
  overflow-y: auto;
}

.dialer-completion {
  border-bottom: 1px solid #212932;
  color: #8a929b;
  height: 44px;
  padding: 6px 20px 0 20px;
}
.dialer-completion > .title {
  color: #aeb9c4;
  font-weight: normal;
  display: block;
  margin-bottom: 2px;
}
.dialer-completion > .subtitle > b {
  color: #fff;
}

.dialer-completion-match {
  border-bottom: 1px solid #212932;
  color: #fff;
  line-height: 50px;
  padding: 0 20px;
}
.dialer-completion-match > .title {
  font-weight: normal;
  font-size: 18px;
}

.dialer-completions-toggle {
  background: url(assets/sprite-a.y.png) right -200px no-repeat;
  color: #aeb9c4;
  height: 50px;
  line-height: 50px;
  padding: 0 44px 0 10px;
  position: absolute;
  right: 0;
}

/* Dialer dialing menu
----------------------------------------------------------------------------- */

.dialer-calling {
  background: #e5eaee;
  height: 320px;
}

.dialer-calling > .header {
  background: #c4cfda;
  color: #686e74;
  font-size: 18px;
  line-height: 20px;
  padding: 15px 20px;
  position: relative;
}

.dialer-calling-time {
  height: 50px;
  position: absolute;
  line-height: 50px;
  right: 20px;
  top: 0;
}

.dialer-calling-icon {
  background: url(assets/calling.png) center center no-repeat;
  height: 270px;
}
