.dialer-button,
.dialer-delete {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}

.dialer-result {
  background: #2c3743;
  color: #fff;
  font-size: 40px;
  line-height: 80px;
  height: 80px;
  padding: 0 20px;
}
.dialer-delete {
  background: url(assets/sprite-a.y.png) 0 0 no-repeat;
  display: block;
  position: absolute;
  right: 20px;
  top: 28px;
  width: 34px;
  height: 24px;
  text-indent: -999em;
}

/* Dialpad
----------------------------------------------------------------------------- */
.dialer-dialpad {
  position: relative;
  height: 280px;
}

/* Compromising between flexibility and layout efficiency, I am absolutely
positioning the dialer buttons against a fixed-height dialpad, rather than
floating or using a table. This gives us flexible width, but will have to
account for height with media queries if supporting multiple res. */
.dialer-dialpad-col1 {
  left: 0;
}
.dialer-dialpad-col2 {
  left: 33.33%;
}
.dialer-dialpad-col3 {
  left: 66.66%;
}
.dialer-dialpad-row1 {
  top: 0;
}
.dialer-dialpad-row2 {
  top: 25%;
}
.dialer-dialpad-row3 {
  top: 50%;
}
.dialer-dialpad-row4 {
  top: 75%;
}

.dialer-button {
  background: #c3ced9;
  border: 1px solid #fff;
  border-width: 0 1px 1px 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 100%;
  padding: 0 0 0 20px;
  position: absolute;
  text-align: left;
  display: block;
  height: 25%;
  width: 33.33%;
}
.dialer-button > em {
  font-size: 14px;
}

.dialer-button {
  font-size: 48px;
}

/* Nuke the inner spacing that Gecko puts into button elements. */
.dialer-button::-moz-focus-inner {
    padding: 0;
    border: 0
}
